@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:active, a:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
button:hover, button:focus {
  cursor: pointer;
  color: #282A36;
  border-color: currentColor;
  background-color: white;
  outline: none;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

ul > li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #555;
}

/*------------------ menu--------------------*/
.menu {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  padding: 17px;
  display: block;
  color: #ddd;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.menu__link:active {
  color: #ed1c24;
  border-bottom: 3px solid #ed1c24;
}
.menu__list {
  height: 60px;
  position: relative;
}
.menu__list:hover .drop {
  display: flex;
}

.menu__link_disabled {
  pointer-events: none;
  color: #999;
  cursor: pointer;
}

/**Карточка товара */
main {
  padding-top: 50px;
}

.catalog__section {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
}

.product__card {
  width: 220px;
  height: 320px;
  padding: 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product__card__img {
  width: 200px;
  height: 200px;
}
.product__card__title {
  font-size: 1.2rem;
}
.product__card__btn {
  padding: 15px 35px;
  color: #ffffff;
  border-radius: 7px;
  border: none;
  background-color: #ed1c24;
}
.product__card__btn:hover {
  color: #fff;
  background-color: #b11116;
}

.cart__empty {
  font-size: 22px;
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}

.product__gallery {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.product__gallery__carousel {
  height: 300px;
  width: 80px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__gallery__image-container {
  height: 350px;
  width: 350px;
}
.product__gallery__image-container:hover {
  cursor: url(../image/search-solid50.png), pointer;
}
.product__gallery__img {
  height: 100%;
  width: auto;
}

.carousel__btn {
  padding: 5px;
  margin: 5px;
}

.carousel__hidden {
  overflow: hidden;
  height: 180px;
}

.carousel__list {
  list-style-type: none;
  width: 60px;
  height: 1000px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: margin-top 250ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
}

.carousel__item img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.carousel__item_active {
  filter: contrast(175%) brightness(95%);
}

.price__column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.price__pay {
  background: #f5f5f5;
  padding: 2rem;
  border-radius: 4px;
}

.price__offers {
  font-size: 32px;
  font-weight: 600;
}

.price__button {
  width: 90%;
  margin: 20px 0;
  font-size: 14px;
}

.product__info__nav {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f2f3f5;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.popup__full-screen {
  position: fixed;
  z-index: 10001;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10rem 10rem rgba(0, 0, 0, 0.8);
  transform: translateZ(0);
}
.popup__block {
  position: relative;
  background: #fff;
  width: 70%;
  border-radius: 4px;
}
.popup__block__close-btn {
  font-size: 25px;
  position: absolute;
  font-family: sans-serif;
  right: 0;
  padding: 15px;
}
.popup__block__close-btn:hover {
  color: #ed1c24;
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__content img {
  width: 580px;
}

/*# sourceMappingURL=style.css.map */
